In [7]:
import pandas as pd
import numpy as np

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import Embedding
from keras.layers import LSTM

# Read Data

In [8]:
X_df = pd.read_csv("data/order-matrix.csv", index_col=0)

In [9]:
X_df.head()

,0,1,2,3,4,5,6,7,8,9,...,476,477,478,479,480,481,482,483,484,485
4034,36550.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53189,46654.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94546,11520.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13147,46654.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86933,46654.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
y_df = pd.read_csv("data/last-order-matrix.csv", index_col=0)

In [11]:
y_df.head()

           0
4034   36550
53189  46654
94546  11520
13147  46654
86933  46654

In [12]:
X_train = X_df.values
X_train = np.array(X_train, dtype="int64")

In [13]:
X_train.shape

(28096, 486)

In [14]:
y_categorical_df = pd.Categorical(y_df["0"])
y_train = y_categorical_df.codes

In [22]:
y_train.shape

(28096,)

# LSTM

In [26]:
MAX_FEATURES = max([max(x) for x in X_train])

model = Sequential()
# input_dim = size of vocabulary (intgers encoding orders)
# input_length = number of steps (orders)
model.add(Embedding(MAX_FEATURES + 1, input_length=X_train.shape[1], output_dim=256))
model.add(LSTM(128))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(max(y_categorical_df.codes) + 1, activation='softmax'))

In [27]:
model.compile(loss='sparse_categorical_crossentropy',
              optimizer='rmsprop',
              metrics=['accuracy'])

In [28]:
model.fit(X_train, y_train, epochs=10, batch_size=100)

Epoch 1/10
28096/28096 [==============================] - 295s 10ms/step - loss: 1.7869 - acc: 0.2963
Epoch 2/10
28096/28096 [==============================] - 289s 10ms/step - loss: 1.7659 - acc: 0.3074
Epoch 3/10
28096/28096 [==============================] - 288s 10ms/step - loss: 1.7591 - acc: 0.3095
Epoch 4/10
28096/28096 [==============================] - 287s 10ms/step - loss: 1.7579 - acc: 0.3096
Epoch 5/10
28096/28096 [==============================] - 288s 10ms/step - loss: 1.7561 - acc: 0.3099
Epoch 6/10
28096/28096 [==============================] - 289s 10ms/step - loss: 1.7559 - acc: 0.3098
Epoch 7/10
28096/28096 [==============================] - 288s 10ms/step - loss: 1.7549 - acc: 0.3098
Epoch 8/10
28096/28096 [==============================] - 288s 10ms/step - loss: 1.7552 - acc: 0.3098
Epoch 9/10
28096/28096 [==============================] - 288s 10ms/step - loss: 1.7540 - acc: 0.3098
Epoch 10/10
28096/28096 [==============================] - 295s 11ms/step - loss: 1.7541 - acc: 0.3098